# 전처리

## 개요정리

In [24]:

# 모듈 불러오기

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import re
import warnings
warnings.filterwarnings('ignore')

In [25]:

#현재 경로 확인

os.getcwd()

'c:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129'

In [26]:
path = 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet'

In [27]:

# C:\Users\USER\Dropbox\PC (2)\Desktop\e-class\[기본] 산학협력 프로젝트\서울과학기술대학교 송부 자료_221129\DataSet 의 file list 확인

file_list= os.listdir(path)

In [28]:

# 파일명 정규식으로 추출

file_list = [file for file in path_file if re.match(r'.*\.xlsx', file)]
file_list

['211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211114_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211117_144350_480g(4도)(25도)_적상 test_with 히터_1.xlsx',
 '211118_144350_480g(4도)(25도)_적상 test_with 히터_2.xlsx',
 '211119_144350_480g(4도)(25도)_적상 test_with 히터_3.xlsx',
 '211208_162710_480g(4도)(15도)_적상 test_with 히터 220V_1.xlsx',
 '211209_162710_480g(4도)(15도)_적상 test_with 히터 220V_2.xlsx',
 '211210_162710_480g(4도)(15도)_적상 test_with 히터 220V_3.xlsx',
 '211211_162710_480g(4도)(15도)_적상 test_with 히터 220V_4.xlsx',
 '211212_162710_480g(4도)(15도)_적상 test_with 히터 220V_5.xlsx',
 '211213_162710_480g(4도)(15도)_적상 test_with 히터 220V_6.xlsx',
 '211214_162710_480g(4도)(15도)_적상 test_with 히터 220V_7.xlsx']

In [29]:

# path변수를 사용하여 path경로에 있는 엑셀파일 첫번째 데이터 읽기

df = pd.read_excel('C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\' + file_list[0])

In [30]:

# 컬럼명 전처리

def get_col_name(df):
    
    df_index = df[df.iloc[:,0] == 'Date'].index[0]
    # 컬럼명 정의
    df_col = df.iloc[:df_index+1].T
    df_col = df_col.fillna(method='ffill')

    # 0,1번 컬럼 null값 채우기
    df_col.iloc[0:2, 0:2]  = 'Series'

    # column 생성
    df_col['Index'] = df_col[1].str.cat(df_col[4], sep='_')
    col_list = list(df_col['Index'])

    # filename 컬럼명 추가
    col_list.append('filename')

    return col_list

col_name = get_col_name(df)
col_name

['Series_Date',
 'Series_Time',
 'lp1_MIN',
 'lp1_MAX',
 'hp1_MIN',
 'hp1_MAX',
 'hp2_MIN',
 'hp2_MAX',
 'comp in_MIN',
 'comp in_MAX',
 'comp out_MIN',
 'comp out_MAX',
 'cond in_MIN',
 'cond in_MAX',
 'cond out_MIN',
 'cond out_MAX',
 'Exp in_MIN',
 'Exp in_MAX',
 'Exp out_MIN',
 'Exp out_MAX',
 'evap in_MIN',
 'evap in_MAX',
 'evap out1_MIN',
 'evap out1_MAX',
 'evap out2_MIN',
 'evap out2_MAX',
 'sol out_MIN',
 'sol out_MAX',
 'inside temp_MIN',
 'inside temp_MAX',
 'center_MIN',
 'center_MAX',
 'outside temp_MIN',
 'outside temp_MAX',
 'eva air in temp_MIN',
 'eva air in temp_MAX',
 'eva air out temp_MIN',
 'eva air out temp_MAX',
 'cond air in temp_MIN',
 'cond air in temp_MAX',
 'cond air out temp_MIN',
 'cond air out temp_MAX',
 'filename']

In [76]:
len(col_name)

43

In [31]:

# 파일명 파일경로 추출

file_path = [os.path.join('C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet', file) for file in file_list]
file_path

['C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211114_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211117_144350_480g(4도)(25도)_적상 test_with 히터_1.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211118_144350_480g(4도)(25도)_적상 test_with 히터_2.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211119_144350_480g(4도)(25도)_적상 test_with 히터_3.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211208_162710_480g(4도)(15도)_적상 test_with 히터 220V_1.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211209_162710_480g(4도)(15도)_적상 test_with 히터 220V_2.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211210_162710_480g(4도)(15도)_적상 test_with 히터 220V_3.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211211_162710_480g(4도)(15도)_적상 test_with 히터 220V_4.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211212_162710_480g(4도)(15도)_적상 test_with 히터 220V_5.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211213_162710_480g(4도)(15도)_적상 test_with 히터 220V_6.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet\\211214_162710_480g(4도)(15도)_적상 test_with 히터 220V_7.xlsx']

In [32]:

#file path에서 file name만 추출

file_name = [file.split('\\')[-1] for file in file_path]


#file path에서 file name만 추출

file_name

['211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211114_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx',
 '211117_144350_480g(4도)(25도)_적상 test_with 히터_1.xlsx',
 '211118_144350_480g(4도)(25도)_적상 test_with 히터_2.xlsx',
 '211119_144350_480g(4도)(25도)_적상 test_with 히터_3.xlsx',
 '211208_162710_480g(4도)(15도)_적상 test_with 히터 220V_1.xlsx',
 '211209_162710_480g(4도)(15도)_적상 test_with 히터 220V_2.xlsx',
 '211210_162710_480g(4도)(15도)_적상 test_with 히터 220V_3.xlsx',
 '211211_162710_480g(4도)(15도)_적상 test_with 히터 220V_4.xlsx',
 '211212_162710_480g(4도)(15도)_적상 test_with 히터 220V_5.xlsx',
 '211213_162710_480g(4도)(15도)_적상 test_with 히터 220V_6.xlsx',
 '211214_162710_480g(4도)(15도)_적상 test_with 히터 220V_7.xlsx']

In [33]:

# 데이터셋 통합

df_total = pd.DataFrame(columns = get_col_name(df))

i = 0

for file in file_path:
    data = pd.read_excel(file).assign(filename = file_name[i])
    index = data[data.iloc[:,0] == 'Date'].index[0]
    data = data.iloc[index+1:]
    data.columns = col_name
    df_total = df_total.append(data, ignore_index=True)
    i += 1

In [34]:
df_total.shape

(110129, 43)

In [35]:

df_total['filename']

0         211111_111700_480g(0도)(25도)_적상 test_with no 히터...
1         211111_111700_480g(0도)(25도)_적상 test_with no 히터...
2         211111_111700_480g(0도)(25도)_적상 test_with no 히터...
3         211111_111700_480g(0도)(25도)_적상 test_with no 히터...
4         211111_111700_480g(0도)(25도)_적상 test_with no 히터...
                                ...
110124    211214_162710_480g(4도)(15도)_적상 test_with 히터 22...
110125    211214_162710_480g(4도)(15도)_적상 test_with 히터 22...
110126    211214_162710_480g(4도)(15도)_적상 test_with 히터 22...
110127    211214_162710_480g(4도)(15도)_적상 test_with 히터 22...
110128    211214_162710_480g(4도)(15도)_적상 test_with 히터 22...
Name: filename, Length: 110129, dtype: object

In [36]:

df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110129 entries, 0 to 110128
Data columns (total 43 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Series_Date            110127 non-null  object
 1   Series_Time            110127 non-null  object
 2   lp1_MIN                110127 non-null  object
 3   lp1_MAX                110127 non-null  object
 4   hp1_MIN                110127 non-null  object
 5   hp1_MAX                110127 non-null  object
 6   hp2_MIN                110127 non-null  object
 7   hp2_MAX                110127 non-null  object
 8   comp in_MIN            110127 non-null  object
 9   comp in_MAX            110127 non-null  object
 10  comp out_MIN           110127 non-null  object
 11  comp out_MAX           110127 non-null  object
 12  cond in_MIN            110127 non-null  object
 13  cond in_MAX            110127 non-null  object
 14  cond out_MIN           110127 non-null  object
 15  cond out_MAX           110127 non-null  object
 16  Exp in_MIN             110127 non-null  object
 17  Exp in_MAX             110127 non-null  object
 18  Exp out_MIN            110127 non-null  object
 19  Exp out_MAX            110127 non-null  object
 20  evap in_MIN            110127 non-null  object
 21  evap in_MAX            110127 non-null  object
 22  evap out1_MIN          110127 non-null  object
 23  evap out1_MAX          110127 non-null  object
 24  evap out2_MIN          110127 non-null  object
 25  evap out2_MAX          110127 non-null  object
 26  sol out_MIN            110127 non-null  object
 27  sol out_MAX            110127 non-null  object
 28  inside temp_MIN        110127 non-null  object
 29  inside temp_MAX        110127 non-null  object
 30  center_MIN             110127 non-null  object
 31  center_MAX             110127 non-null  object
 32  outside temp_MIN       110127 non-null  object
 33  outside temp_MAX       110127 non-null  object
 34  eva air in temp_MIN    110127 non-null  object
 35  eva air in temp_MAX    110127 non-null  object
 36  eva air out temp_MIN   110127 non-null  object
 37  eva air out temp_MAX   110127 non-null  object
 38  cond air in temp_MIN   110127 non-null  object
 39  cond air in temp_MAX   110127 non-null  object
 40  cond air out temp_MIN  110127 non-null  object
 41  cond air out temp_MAX  110127 non-null  object
 42  filename               110129 non-null  object
dtypes: object(43)
memory usage: 36.1+ MB

In [37]:

# 결측치 출력

df_total.isnull().sum().sort_values(ascending=True)

filename                 0
evap out1_MAX            2
evap out2_MIN            2
evap out2_MAX            2
sol out_MIN              2
sol out_MAX              2
inside temp_MIN          2
inside temp_MAX          2
center_MIN               2
evap out1_MIN            2
center_MAX               2
outside temp_MAX         2
eva air in temp_MIN      2
eva air in temp_MAX      2
eva air out temp_MIN     2
eva air out temp_MAX     2
cond air in temp_MIN     2
cond air in temp_MAX     2
cond air out temp_MIN    2
outside temp_MIN         2
cond air out temp_MAX    2
Series_Date              2
Exp out_MAX              2
Series_Time              2
lp1_MIN                  2
lp1_MAX                  2
hp1_MIN                  2
hp1_MAX                  2
hp2_MIN                  2
hp2_MAX                  2
comp in_MIN              2
evap in_MIN              2
comp in_MAX              2
comp out_MAX             2
cond in_MIN              2
cond in_MAX              2
cond out_MIN             2
cond out_MAX             2
Exp in_MIN               2
Exp in_MAX               2
Exp out_MIN              2
comp out_MIN             2
evap in_MAX              2
dtype: int64

In [38]:

# 결측치 행 출력

df_total[df_total.isnull().any(axis=1)]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
100946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...
101947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [39]:
# 100946 인덱스 결측치 행 조회
df_total[100945:100948]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
100945,2021/12/14,07:22:00,1.16,1.17,5.52,5.53,5.4,5.41,4.1,4.1,...,16.4,5.3,5.3,4.9,5,16.6,16.6,20.7,20.8,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...
100946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...
100947,2021/12/14,07:22:20,1.16,1.16,5.52,5.53,5.4,5.41,4,4.1,...,16.4,5.3,5.3,4.9,5,16.6,16.7,20.7,20.8,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [40]:
# 101947 인덱스 결측치 행 조회
df_total[101946:101949]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
101946,2021/12/14,10:08:50,1.08,1.09,5.18,5.2,5.06,5.08,1.8,2,...,14.2,4.6,4.6,4.4,4.5,14.7,14.8,19.2,19.3,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...
101947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...
101948,2021/12/14,10:09:10,1.08,1.08,5.24,5.26,5.12,5.14,2.1,2.3,...,14.6,4.6,4.6,4.4,4.5,14.9,15.2,19.4,19.6,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [41]:
# 100946 결측치 값 삽입
df_total['Series_Date'][100946] = '2021/12/14'
df_total['Series_Time'][100946] = '07:22:10'

df_total[100946:100947]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
100946,2021/12/14,07:22:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [42]:
# 101947 결측치 값 삽입
df_total['Series_Date'][101947] = '2021/12/14'
df_total['Series_Time'][101947] = '10:09:00'

df_total[101947:101948]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
101947,2021/12/14,10:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211213_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [43]:
df_total[101947:101948]['filename'].unique()

array(['211213_162710_480g(4도)(15도)_적상 test_with 히터 220V_6.xlsx'],
      dtype=object)

In [44]:
# missing value 채우기
df_total = df_total.fillna(method='ffill')

In [45]:
df_total.isnull().sum()

Series_Date              0
Series_Time              0
lp1_MIN                  0
lp1_MAX                  0
hp1_MIN                  0
hp1_MAX                  0
hp2_MIN                  0
hp2_MAX                  0
comp in_MIN              0
comp in_MAX              0
comp out_MIN             0
comp out_MAX             0
cond in_MIN              0
cond in_MAX              0
cond out_MIN             0
cond out_MAX             0
Exp in_MIN               0
Exp in_MAX               0
Exp out_MIN              0
Exp out_MAX              0
evap in_MIN              0
evap in_MAX              0
evap out1_MIN            0
evap out1_MAX            0
evap out2_MIN            0
evap out2_MAX            0
sol out_MIN              0
sol out_MAX              0
inside temp_MIN          0
inside temp_MAX          0
center_MIN               0
center_MAX               0
outside temp_MIN         0
outside temp_MAX         0
eva air in temp_MIN      0
eva air in temp_MAX      0
eva air out temp_MIN     0
eva air out temp_MAX     0
cond air in temp_MIN     0
cond air in temp_MAX     0
cond air out temp_MIN    0
cond air out temp_MAX    0
filename                 0
dtype: int64

In [46]:
# 전체 컬럼 중 '-OVER','+OVER'값 있는 행 출력
df_total[df_total.iloc[:,1:].isin(['-OVER','+OVER']).any(axis=1)]

,Series_Date,Series_Time,lp1_MIN,lp1_MAX,hp1_MIN,hp1_MAX,hp2_MIN,hp2_MAX,comp in_MIN,comp in_MAX,...,outside temp_MAX,eva air in temp_MIN,eva air in temp_MAX,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename
2552,2021/11/11,18:22:20,2.04,2.04,2.32,2.34,2.23,2.25,16.8,16.8,...,24.3,2.0,2.1,-OVER,1.7,23.5,23.7,24.9,25.0,211111_111700_480g(0도)(25도)_적상 test_with no 히터...
2553,2021/11/11,18:22:30,2.04,2.05,2.31,2.32,2.22,2.23,16.8,16.9,...,24.3,2.0,2.2,-OVER,-OVER,23.6,23.7,24.9,25.0,211111_111700_480g(0도)(25도)_적상 test_with no 히터...
2554,2021/11/11,18:22:40,2.04,2.05,2.30,2.31,2.22,2.22,16.9,16.9,...,24.3,2.1,2.2,-OVER,-130.2,23.7,23.7,24.9,25.0,211111_111700_480g(0도)(25도)_적상 test_with no 히터...
3159,2021/11/11,20:03:30,1.81,1.83,6.40,6.52,6.24,6.39,3.8,4.8,...,24,2.1,2.2,-OVER,-8.9,23.6,23.7,24.7,25.5,211111_111700_480g(0도)(25도)_적상 test_with no 히터...
3160,2021/11/11,20:03:40,1.80,1.82,6.52,6.57,6.39,6.51,3.2,3.8,...,24,2.1,2.2,-OVER,-OVER,23.6,23.7,25.5,25.9,211111_111700_480g(0도)(25도)_적상 test_with no 히터...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34102,2021/11/15,10:00:40,1.85,1.99,2.24,2.87,2.16,2.83,21.5,21.6,...,24,2.1,2.2,-OVER,1.4,23.5,23.5,24.4,24.6,211114_111700_480g(0도)(25도)_적상 test_with no 히터...
34103,2021/11/15,10:00:50,1.73,1.86,2.87,5.41,2.83,5.81,9.5,21.6,...,24,2.1,2.1,-OVER,-116.3,23.5,23.6,23.3,24.4,211114_111700_480g(0도)(25도)_적상 test_with no 히터...
34104,2021/11/15,10:01:00,1.80,1.85,5.41,6.07,5.81,6.13,5.7,9.5,...,24,2.1,2.2,-OVER,-98.5,23.6,23.6,23.6,24.6,211114_111700_480g(0도)(25도)_적상 test_with no 히터...
34105,2021/11/15,10:01:10,1.82,1.86,6.07,6.37,6.13,6.37,4.4,5.7,...,24,2.1,2.2,-OVER,-145.2,23.6,23.7,24.6,25.5,211114_111700_480g(0도)(25도)_적상 test_with no 히터...
93541,2021/12/13,10:48:00,1.05,1.06,5.16,5.18,5.03,5.06,3.9,4.0,...,+OVER,5.0,5.1,4.8,5,14.8,14.9,19.0,19.1,211212_162710_480g(4도)(15도)_적상 test_with 히터 22...

In [47]:
# 전체 컬럼 중 '-OVER','+OVER'값 있는 컬럼별 개수 출력(내림차순)
df_total.iloc[:,1:].isin(['-OVER','+OVER']).sum().sort_values(ascending=False)

eva air out temp_MIN     4755
eva air out temp_MAX     1936
outside temp_MAX            1
center_MAX                  0
evap out2_MIN               0
evap out2_MAX               0
sol out_MIN                 0
sol out_MAX                 0
inside temp_MIN             0
inside temp_MAX             0
center_MIN                  0
Series_Time                 0
outside temp_MIN            0
lp1_MIN                     0
eva air in temp_MIN         0
eva air in temp_MAX         0
cond air in temp_MIN        0
cond air in temp_MAX        0
cond air out temp_MIN       0
cond air out temp_MAX       0
evap out1_MAX               0
evap out1_MIN               0
evap in_MAX                 0
evap in_MIN                 0
lp1_MAX                     0
hp1_MIN                     0
hp1_MAX                     0
hp2_MIN                     0
hp2_MAX                     0
comp in_MIN                 0
comp in_MAX                 0
comp out_MIN                0
comp out_MAX                0
cond in_MIN                 0
cond in_MAX                 0
cond out_MIN                0
cond out_MAX                0
Exp in_MIN                  0
Exp in_MAX                  0
Exp out_MIN                 0
Exp out_MAX                 0
filename                    0
dtype: int64

In [48]:
# filename별 df_total['eva air out temp_MIN']=='-OVER'인 행 개수 확인
# 컬럼은 하나만 나오도록 설정
df_total[df_total['eva air out temp_MIN']=='-OVER'].groupby('filename')['eva air out temp_MIN'].count()

filename
211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx    1590
211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx    2218
211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx     943
211114_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx       4
Name: eva air out temp_MIN, dtype: int64

In [49]:
# filename별 df_total['eva air out temp_MAX']=='-OVER'인 행 개수 확인
# 컬럼은 하나만 나오도록 설정
df_total[df_total['eva air out temp_MAX']=='-OVER'].groupby('filename')['eva air out temp_MAX'].count()

filename
211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx    669
211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx    902
211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx    365
Name: eva air out temp_MAX, dtype: int64

In [50]:
# filename별 df_total['outside temp_MAX']=='+OVER'인 행 개수 확인
# 컬럼은 하나만 나오도록 설정
df_total[df_total['outside temp_MAX']=='+OVER'].groupby('filename')['outside temp_MAX'].count()

filename
211212_162710_480g(4도)(15도)_적상 test_with 히터 220V_5.xlsx    1
Name: outside temp_MAX, dtype: int64

In [51]:
# filename별 df_total['eva air out temp_MAX']=='-OVER' & df_total['eva air out temp_MIN']=='-OVER 인 행 개수 확인
# 컬럼은 하나만 나오도록 설정
df_total[(df_total['eva air out temp_MAX']=='-OVER')&(df_total['eva air out temp_MIN']=='-OVER')].groupby('filename')[['eva air out temp_MIN','eva air out temp_MAX']].count()

,eva air out temp_MIN,eva air out temp_MAX
filename,,
211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx,669,669
211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx,902,902
211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx,365,365

In [52]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110129 entries, 0 to 110128
Data columns (total 43 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Series_Date            110129 non-null  object
 1   Series_Time            110129 non-null  object
 2   lp1_MIN                110129 non-null  float64
 3   lp1_MAX                110129 non-null  float64
 4   hp1_MIN                110129 non-null  float64
 5   hp1_MAX                110129 non-null  float64
 6   hp2_MIN                110129 non-null  float64
 7   hp2_MAX                110129 non-null  float64
 8   comp in_MIN            110129 non-null  float64
 9   comp in_MAX            110129 non-null  float64
 10  comp out_MIN           110129 non-null  float64
 11  comp out_MAX           110129 non-null  float64
 12  cond in_MIN            110129 non-null  float64
 13  cond in_MAX            110129 non-null  float64
 14  cond out_MIN           110129 non-null  float64
 15  cond out_MAX           110129 non-null  float64
 16  Exp in_MIN             110129 non-null  float64
 17  Exp in_MAX             110129 non-null  float64
 18  Exp out_MIN            110129 non-null  float64
 19  Exp out_MAX            110129 non-null  float64
 20  evap in_MIN            110129 non-null  float64
 21  evap in_MAX            110129 non-null  float64
 22  evap out1_MIN          110129 non-null  float64
 23  evap out1_MAX          110129 non-null  float64
 24  evap out2_MIN          110129 non-null  float64
 25  evap out2_MAX          110129 non-null  float64
 26  sol out_MIN            110129 non-null  float64
 27  sol out_MAX            110129 non-null  float64
 28  inside temp_MIN        110129 non-null  float64
 29  inside temp_MAX        110129 non-null  float64
 30  center_MIN             110129 non-null  float64
 31  center_MAX             110129 non-null  float64
 32  outside temp_MIN       110129 non-null  float64
 33  outside temp_MAX       110129 non-null  object
 34  eva air in temp_MIN    110129 non-null  float64
 35  eva air in temp_MAX    110129 non-null  float64
 36  eva air out temp_MIN   110129 non-null  object
 37  eva air out temp_MAX   110129 non-null  object
 38  cond air in temp_MIN   110129 non-null  float64
 39  cond air in temp_MAX   110129 non-null  float64
 40  cond air out temp_MIN  110129 non-null  float64
 41  cond air out temp_MAX  110129 non-null  float64
 42  filename               110129 non-null  object
dtypes: float64(37), object(6)
memory usage: 36.1+ MB

In [53]:
# 문자형 변수만 출력
df_total.select_dtypes(include='object').columns

Index(['Series_Date', 'Series_Time', 'outside temp_MAX',
       'eva air out temp_MIN', 'eva air out temp_MAX', 'filename'],
      dtype='object')

In [54]:
# 날짜 + 시간 컬럼 생성
df_total['Date_Time'] = df_total['Series_Date'] + ' ' + df_total['Series_Time']

In [55]:
# Date_Time 변수 format 변경
df_total['Date_Time'] = pd.to_datetime(df_total['Date_Time'], format='%Y/%m/%d %H:%M:%S')

# Time 변수 시간, 분, 초 나오도록 변경
df_total['Series_Time'] = df_total['Date_Time'].dt.time

# Date 변수 format 변경
df_total['Series_Date'] = pd.to_datetime(df_total['Series_Date'], format='%Y/%m/%d')

In [56]:
df_total['Date_Time']

0        2021-11-11 11:17:00
1        2021-11-11 11:17:10
2        2021-11-11 11:17:20
3        2021-11-11 11:17:30
4        2021-11-11 11:17:40
                 ...
110124   2021-12-15 08:51:50
110125   2021-12-15 08:52:00
110126   2021-12-15 08:52:10
110127   2021-12-15 08:52:20
110128   2021-12-15 08:52:30
Name: Date_Time, Length: 110129, dtype: datetime64[ns]

In [57]:
df_total['Series_Time']

0         11:17:00
1         11:17:10
2         11:17:20
3         11:17:30
4         11:17:40
            ...
110124    08:51:50
110125    08:52:00
110126    08:52:10
110127    08:52:20
110128    08:52:30
Name: Series_Time, Length: 110129, dtype: object

In [58]:
df_total['Series_Date']

0        2021-11-11
1        2021-11-11
2        2021-11-11
3        2021-11-11
4        2021-11-11
            ...
110124   2021-12-15
110125   2021-12-15
110126   2021-12-15
110127   2021-12-15
110128   2021-12-15
Name: Series_Date, Length: 110129, dtype: datetime64[ns]

In [59]:
# filename 컬럼 value_counts
df_total['filename'].value_counts()

211111_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx        8640
211112_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx        8640
211113_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx        8640
211117_144350_480g(4도)(25도)_적상 test_with 히터_1.xlsx         8640
211118_144350_480g(4도)(25도)_적상 test_with 히터_2.xlsx         8640
211208_162710_480g(4도)(15도)_적상 test_with 히터 220V_1.xlsx    8640
211209_162710_480g(4도)(15도)_적상 test_with 히터 220V_2.xlsx    8640
211210_162710_480g(4도)(15도)_적상 test_with 히터 220V_3.xlsx    8640
211211_162710_480g(4도)(15도)_적상 test_with 히터 220V_4.xlsx    8640
211212_162710_480g(4도)(15도)_적상 test_with 히터 220V_5.xlsx    8640
211213_162710_480g(4도)(15도)_적상 test_with 히터 220V_6.xlsx    8640
211114_111700_480g(0도)(25도)_적상 test_with no 히터.xlsx        8524
211214_162710_480g(4도)(15도)_적상 test_with 히터 220V_7.xlsx    5913
211119_144350_480g(4도)(25도)_적상 test_with 히터_3.xlsx          652
Name: filename, dtype: int64

In [60]:
# filename 컬럼 조건에 따른 새로운 컬럼 생성
# df_total['filename']에 '480g(0도)(25도)_적상 test_with no 히터'가 있으면  '0_25_No_heater' 값을 새로운 컬럼에 넣기
# df_total['filename']에 '480g(0도)(25도)_적상 test_with 히터'가 있으면  '4_25_Heater' 값을 새로운 컬럼에 넣기
# df_total['filename']에 '480g(4도)(15도)_적상 test_with 히터 220V'가 있으면  '4_15_220v_heater' 값을 새로운 컬럼에 넣기

df_total['Type'] = np.where(df_total['filename'].str.contains('적상 test_with no 히터'), "0_25_No_Heater",
                            np.where(df_total['filename'].str.contains('적상 test_with 히터 220V'), "4_15_220V_Heater", "4_25_Heater"))

In [61]:
df_total['Type'].value_counts()

4_15_220V_Heater    57753
0_25_No_Heater      34444
4_25_Heater         17932
Name: Type, dtype: int64

In [62]:
# df_total['Type']별 1부터 1씩 증가하는 숫자 생성
df_total['Type_num'] = df_total.groupby('Type').cumcount()+1

In [63]:
# 문자형 변수만 출력
df_total.select_dtypes(include='object').columns

Index(['Series_Time', 'outside temp_MAX', 'eva air out temp_MIN',
       'eva air out temp_MAX', 'filename', 'Type'],
      dtype='object')

---

In [64]:
# 컬럼명 변경 (센서번호 추가)

df_total.columns = ['Series_Date', 'Series_Time', 'T1_lp1_MIN', 'T1_lp1_MAX', 'T2_hp1_MIN',
       'T2_hp1_MAX', 'T3_hp2_MIN', 'T3_hp2_MAX', 'T1_comp in_MIN', 'T1_comp in_MAX',
       'T2_comp out_MIN', 'T2_comp out_MAX', 'T3_cond in_MIN', 'T3_cond in_MAX',
       'T4_cond out_MIN', 'T4_cond out_MAX', 'T5_Exp in_MIN', 'T5_Exp in_MAX',
       'T6_Exp out_MIN', 'T6_Exp out_MAX', 'T7_evap in_MIN', 'T7_evap in_MAX',
       'T8_evap out1_MIN', 'T8_evap out1_MAX', 'T8_evap out2_MIN', 'T8_evap out2_MAX',
       'T10_sol out_MIN', 'T10_sol out_MAX', 'inside temp_MIN', 'inside temp_MAX',
       'center_MIN', 'center_MAX', 'outside temp_MIN', 'outside temp_MAX',
       'eva air in temp_MIN', 'eva air in temp_MAX', 'eva air out temp_MIN',
       'eva air out temp_MAX', 'cond air in temp_MIN', 'cond air in temp_MAX',
       'cond air out temp_MIN', 'cond air out temp_MAX', 'filename',
       'Date_Time', 'Type', 'Type_num']

In [65]:
df_total.head()

,Series_Date,Series_Time,T1_lp1_MIN,T1_lp1_MAX,T2_hp1_MIN,T2_hp1_MAX,T3_hp2_MIN,T3_hp2_MAX,T1_comp in_MIN,T1_comp in_MAX,...,eva air out temp_MIN,eva air out temp_MAX,cond air in temp_MIN,cond air in temp_MAX,cond air out temp_MIN,cond air out temp_MAX,filename,Date_Time,Type,Type_num
0,2021-11-11,11:17:00,3.43,3.51,7.22,7.43,6.97,7.21,19.2,21.2,...,19.3,19.5,24.0,24.1,27.4,28.0,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:00,0_25_No_Heater,1
1,2021-11-11,11:17:10,3.30,3.43,7.43,7.72,7.21,7.58,16.8,19.2,...,19,19.3,24.0,24.1,28.0,28.9,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:10,0_25_No_Heater,2
2,2021-11-11,11:17:20,3.20,3.30,7.72,7.88,7.58,7.76,15.2,16.8,...,18.6,19,24.1,24.2,28.9,29.6,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:20,0_25_No_Heater,3
3,2021-11-11,11:17:30,3.13,3.20,7.88,8.00,7.76,7.89,14.2,15.2,...,18.4,18.6,24.2,24.3,29.5,30.2,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:30,0_25_No_Heater,4
4,2021-11-11,11:17:40,3.06,3.13,8.00,8.12,7.89,8.01,13.4,14.2,...,18.2,18.4,24.3,24.4,30.2,30.4,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:40,0_25_No_Heater,5

In [66]:
df_total['T7_evap in_MIN'].mean()

-3.303011922382172

In [67]:
df_total['T8_evap out1_MIN'].mean()

-0.9031390460278799

In [68]:
df_total[['T7_evap in_MIN','T8_evap out1_MIN']]

        T7_evap in_MIN  T8_evap out1_MIN
0                 15.2              13.9
1                 13.6              12.7
2                 13.0              11.9
3                 12.5              11.2
4                 12.1              10.8
...                ...               ...
110124            -6.0              -1.2
110125            -6.0              -1.4
110126            -6.0              -1.5
110127            -5.9              -1.7
110128            -5.9              -2.0

[110129 rows x 2 columns]

In [69]:
df_total['T8_1-T7_MIN'] =  df_total['T8_evap out1_MIN'] - df_total['T7_evap in_MIN']
df_total['T8_1-T7_MAX'] =  df_total['T8_evap out1_MAX'] - df_total['T7_evap in_MAX']
df_total['T8_2-T7_MIN'] =  df_total['T8_evap out2_MIN'] - df_total['T7_evap in_MIN']
df_total['T8_2-T7_MAX'] =  df_total['T8_evap out2_MAX'] - df_total['T7_evap in_MAX']

In [70]:
df_total['Heat_ON'] = np.where(df_total['Type'] == '0_25_No_Heater', "Off", "")

In [71]:
df_total

,Series_Date,Series_Time,T1_lp1_MIN,T1_lp1_MAX,T2_hp1_MIN,T2_hp1_MAX,T3_hp2_MIN,T3_hp2_MAX,T1_comp in_MIN,T1_comp in_MAX,...,cond air out temp_MAX,filename,Date_Time,Type,Type_num,T8_1-T7_MIN,T8_1-T7_MAX,T8_2-T7_MIN,T8_2-T7_MAX,Heat_ON
0,2021-11-11,11:17:00,3.43,3.51,7.22,7.43,6.97,7.21,19.2,21.2,...,28.0,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:00,0_25_No_Heater,1,-1.3,-1.4,0.7,0.6,Off
1,2021-11-11,11:17:10,3.30,3.43,7.43,7.72,7.21,7.58,16.8,19.2,...,28.9,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:10,0_25_No_Heater,2,-0.9,-1.3,1.2,0.7,Off
2,2021-11-11,11:17:20,3.20,3.30,7.72,7.88,7.58,7.76,15.2,16.8,...,29.6,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:20,0_25_No_Heater,3,-1.1,-0.9,0.9,1.2,Off
3,2021-11-11,11:17:30,3.13,3.20,7.88,8.00,7.76,7.89,14.2,15.2,...,30.2,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:30,0_25_No_Heater,4,-1.3,-1.1,0.8,0.9,Off
4,2021-11-11,11:17:40,3.06,3.13,8.00,8.12,7.89,8.01,13.4,14.2,...,30.4,211111_111700_480g(0도)(25도)_적상 test_with no 히터...,2021-11-11 11:17:40,0_25_No_Heater,5,-1.3,-1.3,0.6,0.8,Off
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110124,2021-12-15,08:51:50,1.12,1.13,5.51,5.52,5.39,5.41,4.2,4.2,...,20.8,211214_162710_480g(4도)(15도)_적상 test_with 히터 22...,2021-12-15 08:51:50,4_15_220V_Heater,57749,4.8,4.9,6.8,6.9,
110125,2021-12-15,08:52:00,1.12,1.13,5.52,5.53,5.40,5.41,4.1,4.2,...,20.8,211214_162710_480g(4도)(15도)_적상 test_with 히터 22...,2021-12-15 08:52:00,4_15_220V_Heater,57750,4.6,4.7,6.8,6.7,
110126,2021-12-15,08:52:10,1.13,1.13,5.53,5.54,5.41,5.42,4.1,4.2,...,20.8,211214_162710_480g(4도)(15도)_적상 test_with 히터 22...,2021-12-15 08:52:10,4_15_220V_Heater,57751,4.5,4.5,6.7,6.7,
110127,2021-12-15,08:52:20,1.13,1.14,5.53,5.54,5.41,5.42,4.1,4.1,...,20.9,211214_162710_480g(4도)(15도)_적상 test_with 히터 22...,2021-12-15 08:52:20,4_15_220V_Heater,57752,4.2,4.4,6.5,6.6,
110128,2021-12-15,08:52:30,1.14,1.14,5.53,5.56,5.41,5.44,4.0,4.1,...,20.9,211214_162710_480g(4도)(15도)_적상 test_with 히터 22...,2021-12-15 08:52:30,4_15_220V_Heater,57753,3.9,4.2,6.5,6.6,

In [72]:
# df_total['Type']이 '4_15_220V_Heater'인 경우 중 Date_Time이 "2021-12-09 08:40:00"이후인 경우 Heat_ON 컬럼에 "On"값 넣기
df_total.loc[(df_total['Type'] == '4_15_220V_Heater') & (df_total['Date_Time'] >= '2021-12-09 08:40:00'), 'Heat_ON'] = 'On'

# df_total['Type']이 '4_15_220V_Heater'인 경우 중 Date_Time이 "2021-12-09 08:40:00"이전인 경우 Heat_ON 컬럼에 "Off"값 넣기
df_total.loc[(df_total['Type'] == '4_15_220V_Heater') & (df_total['Date_Time'] < '2021-12-09 08:40:00'), 'Heat_ON'] = 'Off'

In [73]:
# df_total['Type']이 '4_25_Heater'인 경우 중 Date_Time이 "2021-11-18 08:50:00"이후인 경우 Heat_ON 컬럼에 "On"값 넣기
df_total.loc[(df_total['Type'] == '4_25_Heater') & (df_total['Date_Time'] >= '2021-11-18 08:50:00'), 'Heat_ON'] = 'On'

# df_total['Type']이 '4_25_Heater'인 경우 중 Date_Time이 "2021-11-18 08:50:00"이전인 경우 Heat_ON 컬럼에 "Off"값 넣기
df_total.loc[(df_total['Type'] == '4_25_Heater') & (df_total['Date_Time'] < '2021-11-18 08:50:00'), 'Heat_ON'] = 'Off'

In [74]:
df_total['Heat_ON'].value_counts()

On     63331
Off    46798
Name: Heat_ON, dtype: int64

---

In [75]:
# df_total 엑셀로 저장
df_total.to_excel('df_total.xlsx', index=False)

---